@model IEnumerable<VietnamAds_Practice.Models.AdsPost>
@{
    ViewData["Title"] = "ViewIndex";
}

<style type="text/css">
    a:hover{
        text-decoration: none;
    }
</style>

@foreach (var item in Model)
{
    <a asp-action="ViewDetails" asp-route-id="@item.Id">
        <div class="card">
            <div class="card-header">
                @item.Title
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@item.LogoUrl" class="img-thumbnail" />
                    </div>
                    <div class="col-md-9">
                        <div class="text-truncate text-secondary">
                            @item.Description
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                @{var price = (item.Price == null && item.Price_IsDealable) ? "Price Dealable" : item.Price.ToString();}
                                <span class="text-primary">@(price)</span>
                            </div>
                            <div class="col-md-6">
                                <span class="text-primary">@item.CreatedDate.ToString("dd/MMM/yyyy")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                [Soc Son, Ha Noi]
                            </div>
                            <div class="col-md-6">
                                <span class="text-primary">@item.AdsForm.Name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                [Ti~nh]
                            </div>
                            <div class="col-md-6">
                                [Tre^n 50m2]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}